/*utils styles*/
@import './utils/variables';
@import './utils/base';
@import './utils/reset';
@import './utils/visually-hidden';
/*components*/
@import './components/header';
@import './components/hero';
@import './components/about';
@import './components/work';
@import './components/team';
@import './components/customers';
@import './components/footer';
@import './components/modal';
@import './components/socials';
@import './components/portfolio';