.about__list {
    display: flex;
    gap: 30px;
}

.about__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 270px;
    height: 120px;
    background-color: var(--gray-bg-cl);
    margin-bottom: 30px;
}

.about__subtitle {
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    color: var(--secondary-txt-color);
}

.about__desc {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
}