.header {
    background-color: var(--light-bg-cl);
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #ececec;
}
.header__container {
    display: flex;
    align-items: center;
}
.nav {
    margin-right: auto;
}
.nav__list,
.contacts__list {
    display: flex;
    gap: 50px;
}
.header__logo {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color: var(--accent-txt-cl);
    margin-right: 93px;
&--accent {
        color: #000000;
    }
}

.nav__link {
    padding-top: 32px;
    padding-bottom: 32px;
    display: block;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--secondary-txt-color);
    transition: color var(--animation);
&:hover,
&:focus{
    color: var(--accent-txt-cl);
                }
&--current {
    color: var(--accent-txt-cl);
    position: relative;
}
&--current::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 4px;
    background-color: var(--accent-txt-cl);
    border-radius: 2px;
}
}
.contacts__mail:hover,
.contacts__mail:focus,
.contacts__tel:hover,
.contacts__tel:focus {
    color: var(--accent-txt-cl);
}
.mail-icon,
.tel-icon {
    fill: currentColor;
    margin-right: 10px;
}
.contacts__mail,
.contacts__tel {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: inherit;
    transition: color var(--animation);
}