:root {
    /*Fonts*/
    --main-font: 'Roboto', sans-serif;
    --secondary-font: 'Raleway', sans-serif;
    /*Text colors*/
    --main-txt-cl: #757575;
    --secondary-txt-color: #212121;
    --accent-txt-cl: #2196f3;
    /*BG colors */
    --dark-bg-cl: #2f303a;
    --light-bg-cl: #ffffff;
    --gray-bg-cl: #f5f4fa;
    /*Others */
    --animation: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}